$primary-color : #111;
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    background-color: $primary-color;
    height: 100px;
    h1{
        color: white;
        margin:0  auto;
        padding-top: 25px;
        text-align: center;
    }
}