.main {
    width: 80%;
    height: 900px;
    background-color: #ccc;
    margin:0 auto;
    padding:5px;
    // width: 500px;
    // height: 110px;
    overflow: auto;
    text-align:justify;
    
    section{
        padding-top: 30px;
        text-align: center;
        width: 80%;
        height: 50%;
        background-color: gray;
        margin: auto;
    }
  

    
}