// Custom small screen
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

// Custom large screen
@mixin desktop {
  @media (min-width: 769px) {
    @content;
  }
}
// Generate font-size for passing list
@mixin generate-waseet-font-sizes-classes($fontSizes) {
    @each $name, $fontSize in $fontSizes {
      /* #{$fontSize} font-size */
      .font-size-#{$name} {
        font-size: $fontSize;
      }
  
      @include desktop {
        .font-size-lg-#{$name} {
          font-size: $fontSize;
        }
      }
  
      @include mobile {
        .font-size-sm-#{$name} {
          font-size: $fontSize;
        }
      }
    }
  }